@import url("https://fonts.googleapis.com/css2?family=Volkhov&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Aleo&display=swap");

:root {
  --base-color: #1d2d44;
  --sub-base-color: #3e5c76;
  --sub-color: #0d1321;
  --text-color: #f0ebd8;
  --base-p-fs: calc(0.8rem + 0.7vw);
  --base-h1-fs: calc(2rem + 2vw);
  --base-h2-fs: calc(1rem + 0.8vw);
  --base-h3-fs: calc(1.2rem + 1vw);
  --base-h1-ff: "Secular One", sans-serif;
  --base-h2-ff: "Assistant", sans-serif;
  --base-p-ff: "Volkhov", sans-serif;
  --logo-width: max(35px, 30%);
  --base-paragraph-ff: "Nanum Myeongjo", sans-serif;
  --base-margin: 0.2em 0.6em;
  --base-padding: 0.4em 0.6em;
  --box-shadow: 5px 10px 30px black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--sub-base-color);
  min-height: 100vh;
}

.app {
}

.info-container {
  border: 1px solid var(--text-color);
}

.general-info-container {
  display: grid;
  gap: 5px;
  justify-items: center;
  padding: 1.3em 0em;
}

.educational-info-container {
  display: grid;
  gap: 5px;
  justify-items: center;
  padding: 1.3em 0em;
}

.education-block,
.work-block {
  display: grid;
  gap: 5px;
}

.work-info-container {
  display: grid;
  justify-items: center;
  padding: 1.3em 0em;
  gap: 5px;
}

.skills-info-container {
  display: grid;
  justify-items: center;
  padding: 1.3em 0em;
  gap: 5px;
}

button {
  padding: 0.6em 1em;
  border-radius: 0.5em;
  border: none;
  background-color: var(--sub-color);
  color: var(--text-color);
  cursor: pointer;
}

button:hover {
  scale: 1.1;
  transition: 300ms ease-in-out;
}

/* CV SECTION */

.cv-container {
  margin-top: 2em;
  background-color: #fff;
  padding: 2em;
}

.cv-container h1 {
  text-align: center;
}

.cv-education-container,
.cv-work-container {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.cv-skill-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  text-align: center;
}

.cv-education h4,
.cv-work h4,
.cv-skill h4 {
  border-bottom: 1px solid black;
}

@media (min-width: 600px) {
  body {
    display: grid;
    align-items: center;
  }
  .app {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0em 0.8em;
  }
}
